@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    /* border: 1px red solid; */
}

/* GLOBAL SECTION STYLES */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 900 */

.rubik-normal {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pointer {
    cursor: pointer;
}

/* NAV SECTION STYLES */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#update-container {
    text-align: center;
    margin: 1rem;
}

#updated-date {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

#updated-date::before {
    content: "Last Updated";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #61dafb;
    color: #fff;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

#updated-date:hover::before {
    opacity: 0;
}

#updated-date:hover {
    background-color: #61dafb;;
    color: #fff;
}

#clock-container {
    text-align: center;
    position: relative;
    margin: 1rem;
}

.behind-overlay {
    opacity: 1;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.overlay {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 85%;
    transition: all 0.3s ease-in-out;
}

.shaded-blue {
    padding: 10px;
    font-size: 1em;
    background-color: #61dafb;
    color: white;
    border: none;
    border-radius: 10px;
}

.blue-bordered {
    margin: 5px 0;
    border: 2px solid #6adafb;
    padding: 10px;
    border-radius: 10px;
}

#date-time:hover {
    opacity: 0;
}

#copydate-btn:hover{
    opacity: 1;
}

/* MAIN STYLES*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-gradient,
.right-gradient {
    cursor: pointer;
}

/* FOOTER STYLES */
#joke-container {
    font-weight: 700;
    text-align: center;
    background-color: orangered;
    padding: 1rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 1rem;
    background-color: orangered;
}

.today-container {
    text-align: center;
}

.last-streak-container {
    text-align: center;
}

#copy-button {
    padding: 7px;
    font-size: 16px;
    border-radius: 11px;
    font-weight: bolder;
    background-color: lightblue;
}

#copy-button:hover {
    cursor: pointer;
}

h5, #last-streak {
    color: white;
}     */