* {
    padding: 0;
    margin: 0;
    border: 1px red solid;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 1rem;
}

.today-container {
    text-align: center;
}

.last-streak-container {
    text-align: center;
}

#copy-button {
    padding: 7px;
    font-size: 16px;
    border-radius: 11px;
    font-weight: bolder;
    background-color: lightblue;
}

#copy-button:hover {
    cursor: pointer;
}

h5, #last-streak {
    color: red;
}    