* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    /* border: 1px red solid; */
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* NAV SECTION STYLES */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#clock-container, #update-container {
    text-align: center;
    position: relative;
    margin: 1rem;
}

.pointer {
    cursor: pointer;
}

.behind-overlay {
    opacity: 1;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.overlay {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 85%;
    transition: all 0.3s ease-in-out;
}

.shaded-blue {
    padding: 10px;
    font-size: 1.5em;
    background-color: #61dafb;
    color: white;
    border: none;
    border-radius: 10px;
}

.blue-bordered {
    margin: 5px 0;
    border: 2px solid #6adafb;
    padding: 10px;
    border-radius: 10px;
}

#date-time:hover {
    opacity: 0;
}

#copydate-btn:hover, #updated-date:hover {
    opacity: 1;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 1rem;
    background-color: orangered;
}

.today-container {
    text-align: center;
}

.last-streak-container {
    text-align: center;
}

#copy-button {
    padding: 7px;
    font-size: 16px;
    border-radius: 11px;
    font-weight: bolder;
    background-color: lightblue;
}

#copy-button:hover {
    cursor: pointer;
}

h5, #last-streak {
    color: white;
}     */